@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: "RedditMono";
  src: url(/font/RedditMono-Regular.ttf);
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "RedditMono";
  src: url(/font/RedditMono-Medium.ttf);
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "RedditMono";
  src: url(/font/RedditMono-Light.ttf);
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "RedditMono";
  src: url(/font/RedditMono-ExtraLight.ttf);
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #121212;
  color : "white" !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
